.alert {
  --#{$prefix}alert-border-radius: #{$alert-border-radius};
  --#{$prefix}alert-padding-x: #{$alert-padding-x};
  --#{$prefix}alert-padding-y: #{$alert-padding-y};
  --#{$prefix}alert-link-color: inherit;
  position: relative;
  padding: var(--#{$prefix}alert-padding-y) var(--#{$prefix}alert-padding-x);
  margin-bottom: 10px;
  background: transparent;
  @include border-radius(var(--#{$prefix}alert-border-radius));
  &.alert-icons{
    display: flex;
    align-items: center;
    .alert-icon{
      padding-right: .5rem;
    }
  }
}
.alert-dismissible {
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--#{$prefix}alert-padding-y) var(--#{$prefix}alert-padding-x);
    cursor: pointer;
    background: transparent;
    border: 0;
  }
}
.alert-primary {
  background: $primary;
}
.alert-secondary {
  background: $secondary;
}
.alert-danger {
  background: $danger;
}
.alert-warning {
  background: $warning;
}
.alert-success {
  background: $success;
}
.alert-info {
  background: $info;
}
.alert-light {
  background: $light;
}
.alert-dark {
  background: $dark;
}
.alert-link {
  font-weight: $alert-link-font-weight;
  color: var(--#{$prefix}alert-link-color);
}
