.badge {
  display: inline-block;
}

.badge:not(:disabled) { cursor: pointer; }

.badge-primary {
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background: $primary;
  border-style: none;
}

.badge-primary:hover {
  background: #3740ed;
}

.badge-secondary {
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background: $secondary;
  border-style: none;
}

.badge-secondary:hover {
  background: #bda1e4;
}

.badge-success{
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background: $success;
  border-style: none;
}

.badge-success:hover {
  background: #10efef;
}

.badge-danger{
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background: $danger;
  border-style: none;
}

.badge-danger:hover{
  background: #ffac53;
}

.badge-warning{
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background: $warning;
  border-style: none;
}

.badge-warning:hover{
  background: #ffc482;
}

.badge-info{
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background: $info;
  border-style: none;
}

.badge-info:hover{
  background: #8e7070;
}

.badge-light{
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background: $light;
  border-style: none;
}

.badge-light:hover{
  background: #48d6f2;
}

.badge-dark{
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 700;
  background: $dark;
  border-style: none;
}

.badge-dark:hover{
  background: #37b8d5;
}

.badge-small {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  border-style: none;
}

.badge-large {
  display: inline-block;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 700;
  border-style: none;
}

.badge-text-light {
  color: $white;
}

.badge-text-dark {
  color: $black;
}

.rounded-1{
  --#{$prefix}btn-border-radius: #{$btn-border-radius};
  @include border-radius(5px,var(--#{$prefix}btn-border-radius));
}

.badge-pill{
  --#{$prefix}btn-border-radius: #{$btn-border-radius};
  @include border-radius(1.5rem,var(--#{$prefix}btn-border-radius));
}
