//
// Base styles
//

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: inherit;
  color: $button-text;
  appearance: none;
  cursor: pointer;
  background: $button-bg;
  border-color: $button-bg;
  border-style: solid;
  border-width: $button-stroke-width;
}
