//
// Base styles
//

.btn {
  --#{$prefix}btn-border-radius: #{$btn-border-radius};

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: inherit;
  color: $button-text;
  appearance: none;
  cursor: pointer;
  background: $button-bg;
  border-color: $button-bg;
  border-style: solid;
  border-width: $button-stroke-width;
  @include border-radius(var(--#{$prefix}btn-border-radius));
}
