//
// Base styles
//

.btn {
  --#{$prefix}btn-border-radius: #{$btn-border-radius};

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: inherit;
  color: $button-text;
  appearance: none;
  cursor: pointer;
  background: $button-bg;
  border-color: $button-bg;
  border-style: solid;
  border-width: $button-stroke-width;
  @include border-radius(var(--#{$prefix}btn-border-radius));
}

.btn:not(:disabled) { cursor: pointer; }

.btn:hover {
}

.btn:active,
.btn.active {
}

.btn-default {
}

.btn-default:hover {
}

.btn-default:active,
.btn-default.active {
}

.btn-primary {
}

.btn-primary:hover {
}

.btn-primary:active,
.btn-primary.active {
}

.btn-secondary {
}

.btn-secondary:hover {
}

.btn-secondary:active,
.btn-secondary.active {
}

.btn-danger {
}

.btn-danger:hover {
}

.btn-danger:active,
.btn-danger.active {
}

.btn-default:disabled,
.btn-primary:disabled,
.btn-secondary:disabled,
.btn-danger:disabled {
}

.btn-small {
}

.btn-large {
}

.btn-text {
}

.btn-text:hover {
}

.btn-text:disabled {
}

.btn-link {
}

.btn-link:hover {
}

.btn-link:disabled {
}

.btn-group {
}
