.container{
  padding: 40px 60px;
}
.head {
  .title {
    font-family: Roboto, sans-serif;
    font-size: 60px;
    color: #475467;
  }
}
.color-box {
  font-family: Roboto, sans-serif;
  color: #667085;
  h3 {
    font-size: 24px;
    font-weight: 500;
  }
  .color-cards {
    --#{$prefix}btn-border-radius: #{$btn-border-radius};
    display: flex;
    flex-wrap: wrap;
    .color-card {
      width: 147px;
      padding-right: 14px;
      p {
        font-size: 14px;
        font-weight: 400;
      }
      .color-div {
        padding: 20px;
        @include border-radius(10px,var(--#{$prefix}btn-border-radius));
      }
    }
  }
}
@mixin color($background) {
  background: $background;
}

.primary-900 {
  @include color($primary-900);
}
.primary-800 {
  @include color($primary-800);
}
.primary-700 {
  @include color($primary-700);
}
.primary-600 {
  @include color($primary-600);
}
.primary-500 {
  @include color($primary-500);
}
.primary-400 {
  @include color($primary-400);
}

.error-600 {
  @include color($error-600);
}
.error-500 {
  @include color($error-500);
}
.error-400 {
  @include color($error-400);
}
.error-300 {
  @include color($error-300);
}

.gray-900 {
  @include color($gray-900);
}
.gray-800 {
  @include color($gray-800);
}
.gray-700 {
  @include color($gray-700);
}
.gray-600 {
  @include color($gray-600);
}
.gray-500 {
  @include color($gray-500);
}
.gray-400 {
  @include color($gray-400);
}

.warning-600 {
  @include color($warning-600);
}
.warning-500 {
  @include color($warning-500);
}
.warning-400 {
  @include color($warning-400);
}
.warning-300 {
  @include color($warning-300);
}

.success-600 {
  @include color($success-600);
}
.success-500 {
  @include color($success-500);
}
.success-400 {
  @include color($success-400);
}
.success-300 {
  @include color($success-300);
}


.bg-primary {
  background-color: $primary;
}

.secondary {
  background-color: $secondary;
}

.success {
  background-color: $success;
}

.info {
  background-color: $info;
}

.warning {
  background-color: $warning;
}

.danger {
  background-color: $danger;
}

.light {
  background-color: $light;
}

.dark {
  background-color: $dark;
}

.white {
  background-color: $white;
}

.transparent {
  background-color: transparent;
}

