.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-success {
  background-color: $success;
}

.bg-info {
  background-color: $info;
}

.bg-warning {
  background-color: $warning;
}

.bg-danger {
  background-color: $danger;
}

.bg-light {
  background-color: $light;
}

.bg-dark {
  background-color: $dark;
}

.bg-white {
  background-color: $white;
}

.bg-transparent {
  background-color: transparent;
}
