$primary: #6369d1 !default;
$secondary: #d8d2e1 !default;
$success: #60e1e0 !default;
$info: #b88e8d !default;
$warning: #fcd7ad !default;
$danger: #f6c28b !default;
$light: #82ddf0 !default;
$dark: #5296a5 !default;
$white: #fff !default;

$button-text: $white !default;
$button-bg: $primary !default;
$button-stroke-width: 1px !default;
