$primary: #6369d1 !default;
$secondary: #d8d2e1 !default;
$success: #60e1e0 !default;
$info: #b88e8d !default;
$warning: #fcd7ad !default;
$danger: #f6c28b !default;
$light: #82ddf0 !default;
$dark: #5296a5 !default;
$white: #fff !default;
$black: #000 !default;

// scss-docs-start colors-map
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$primary-900: #42307d !default;
$primary-800: #53389e !default;
$primary-700: #6941c6 !default;
$primary-600: #7f56d9 !default;
$primary-500: #9e77ed !default;
$primary-400: #b692f6 !default;


$error-600: #d92d20 !default;
$error-500: #f04438 !default;
$error-400: #f97066 !default;
$error-300: #fda29b !default;

$gray-900: #344054 !default;
$gray-800: #475467 !default;
$gray-700: #667085 !default;
$gray-600: #98a2b3 !default;
$gray-500: #d0d5dd !default;
$gray-400: #e4e7ec !default;

$warning-600: #dc6803 !default;
$warning-500: #f79009 !default;
$warning-400: #fdb022 !default;
$warning-300: #fec84b !default;

$success-600: #039855 !default;
$success-500: #12b76a !default;
$success-400: #32d583 !default;
$success-300: #6ce9a6 !default;


$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $black,
  "gray-dark": $black) !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-important-utilities: true !default;

// Prefix for :root CSS variables

$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

$enable-rounded: true !default;

$button-text: $white !default;
$button-bg: $primary !default;
$button-stroke-width: 1px !default;
$btn-border-radius: 2px !default;
$alert-padding-x: 15px !default;
$alert-padding-y: 20px !default;
$alert-link-font-weight: 600 !default;
$alert-border-radius: 5px !default;
