:host {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}
:host(.justify-end) {
  justify-content: end;
}
:host(.justify-start) {
  justify-content: start;
}
:host(.justify-spase-between) {
  justify-content: space-between;
}
:host(.disabled) {
  pointer-events: none;
  color: #a9a9a9;
}
:host .switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
}
:host .switch input {
  display: none;
}
:host .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  background-color: rgb(221, 221, 221);
  border: 1px solid transparent;
}
:host .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  border: 1px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

:host input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(28px);
}
:host input:checked + .slider {
  background-color: #706ce7;
}
:host(.disabled) input:checked + .slider {
  background-color: #d6d6d6;
  border: 1px solid #706ce7;
}
:host(.disabled) input:checked + .slider:before {
  border: 1px solid #706ce7;
}
:host .text.start {
  order: 2;
}
