:host {
  display: block;
  position: relative;
  background-color: rgb(222, 222, 222);
  padding: 10px 20px;
  cursor: pointer;
  width: auto;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open {
  display: block;
  height: auto;
  border-top: 0.5px solid rgb(199, 197, 197);
  padding: 18px;
}

.close {
  display: none;
}
