* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.App {
  display: flex;
  align-items: self-start;
}
a {
  text-decoration: none;
}
.component {
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  padding: 0 20px;
}
.component-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.component-title {
  text-transform: capitalize;
}
.modal-box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 999;
}
.modal-content {
  max-width: 400px;
  width: 100%;
  padding: 20px;
}
.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin: 20px 0;
}
