{% extends  'base.html' %}
{% load static %}
{% block title %} <title>Change password</title> {% endblock %}

{% block content %}

<h1 class="p-4">Change password</h1>

<div  class="d-flex justify-content-center align-items-center">
    <form action="" method="POST" style="width: 50%;">
      <p class="text-danger">{{error}}</p>
      {% csrf_token %}
      <div class="mb-3 mt-4">
        <label for="password" class="form-label">Old Password</label>
        <input type="password" name="password"  class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary">Change</button>
      <a href="{% url 'user_profiles' %}" class="btn btn-danger">Back</a>
    </form>
  </div>

{% endblock %}