{% extends  'base.html' %}
{% load static %}
{% block title %} <title>Update User</title> {% endblock %}

{% block content %}

<h1 class="p-4">Update user</h1>

<div  class="d-flex justify-content-center align-items-center">
    <form action="" method="POST" style="width: 50%;">
      <p class="text-danger">{{error}}</p>
      {% csrf_token %}
      <div class="mb-3 mt-4">
        <label for="name" class="form-label">First_name</label>
        <input type="text" name="first_name" value="{{user_profiles.first_name}}" class="form-control" id="name">
      </div>
      <div class="mb-3 mt-4">
        <label for="price" class="form-label">Last_name</label>
        <input type="text" name="last_name" value="{{user_profiles.last_name}}" class="form-control" id="price">
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>

{% endblock %}