{% extends  'base.html' %}
{% load static %}
{% block title %} <title>Create Product</title> {% endblock %}

{% block content %}

<h1 class="p-4">Create Product</h1>

<div  class="d-flex justify-content-center align-items-center">
    <form action="" method="POST" style="width: 50%;">
      <p class="text-danger">{{error}}</p>
      {% csrf_token %}
      <div class="mb-3 mt-4">
        <label for="name" class="form-label">Poduct name</label>
        <input type="text" name="product_name" value="{{product.product_name}}" class="form-control" id="name">
      </div>
      <div class="mb-3 mt-4">
        <label for="price" class="form-label">Price</label>
        <input type="text" name="product_price" value="{{product.product_price}}" class="form-control" id="price">
      </div>

      <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
  </div>

{% endblock %}