{% extends  'base.html' %}
{% load static %}
{% block title %} <title>Username update</title> {% endblock %}

{% block content %}

<h1 class="p-4">Username update</h1>

<div  class="d-flex justify-content-center align-items-center">
    <form action="" method="POST" style="width: 50%;">
      <p class="text-danger">{{error}}</p>
      {% csrf_token %}
      <div class="mb-3 mt-4">
        <label for="name" class="form-label">Username</label>
        <input type="text" name="username" value="{{user_profiles.username}}" class="form-control" id="name">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="{% url 'user_profiles' %}" class="btn btn-danger">Back</a>
    </form>
  </div>

{% endblock %}