eskiz-sms==0.2.3
flasgger==0.9.7.1
Flask==3.0.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
PyJWT==2.8.0
python-dotenv==1.0.0
PyYAML==6.0.1
SQLAlchemy==2.0.22
Werkzeug==3.0.0
