<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pro Unity</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../dist/css/prounity.css">
</head>
<body>
    <!-- <img src="https://i.ibb.co/Y8wMCMN/Screenshot-2023-10-16-at-13-14-43.png" > -->
    <h1>Alert</h1>
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!     
    </div>
    <div class="alert alert-secondary" role="alert">
        A simple primary alert—check it out!     
    </div>
    <div class="alert alert-danger" role="alert">
        A simple primary alert—check it out!     
    </div>
    <div class="alert alert-warning" role="alert">
        A simple primary alert—check it out!     
    </div>
    <div class="alert alert-success" role="alert">
        A simple primary alert—check it out!     
    </div>
    <div class="alert alert-info" role="alert">
        A simple primary alert—check it out!     
    </div>
    <div class="alert alert-light" role="alert">
        A simple primary alert—check it out!     
    </div>
    <div class="alert alert-dark" role="alert">
        A simple primary alert—check it out!     
    </div>
    <h2>Link color</h2>
    <div class="alert alert-primary" role="alert">
        A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
    <h2>Additional content</h2>
    <div class="alert  alert-primary" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
      </div>
    <h3>Icons</h3>
    <div class="alert alert-primary alert-icons" role="alert">
        <i class="alert-icon fa-solid fa-circle-info"></i>
        A simple primary alert—check it out!  
    </div>
    <h3>Dismissing</h3>
    <div class="alert  alert-primary alert-dismissible" role="alert">
        A simple primary alert—check it out!
        <button type="button" class="btn-close"><i class="fa-solid fa-xmark"></i></button>
    </div>
</body>
</html>