<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pro Unity</title>
    <link rel="stylesheet" href="../../dist/css/prounity.css">
</head>
<body>
    <h1>Badge</h1>
    <span class="badge badge-primary badge-text-light">Primary</span>
    <span class="badge badge-secondary badge-small badge-text-dark">Secondary</span>
    <span class="badge badge-success badge-large badge-text-light">Success</span>
    <span class="badge badge-danger rounded-1 badge-text-light">Danger</span>
    <span class="badge badge-warning badge-pill badge-text-light">Warning</span>
    <span class="badge badge-info badge-text-light">Info</span>
    <span class="badge badge-light badge-text-light">Light</span>
    <span class="badge badge-dark badge-text-light">Dark</span>
</body>
</html>