<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pro Unity</title>
    <link rel="stylesheet" href="../../dist/css/prounity.css">
</head>
<body>
    <img src="https://i.ibb.co/2t5C24R/Screenshot-2023-10-16-at-13-13-01.png" />
    <h1>Buttons</h1>
    <button class="btn">Default</button>
    <h2>Base class</h2>
    <h2>Variants</h2>
    <h3>Disable text wrapping</h3>
    <h3>Button tags</h3>
    <h3>Sizes</h3>
    <h3>Disabled state</h3>
    <h3>Toggle</h3>
</body>
</html>