<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pro Unity</title>
    <link rel="stylesheet" href="../../dist/css/prounity.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <p class="header-title">Button UI / Design system</p>
        <div class="category-header">
            <div class="left">
                <p class="title">STATES</p>
            </div>
            <div class="right">
                <p class="title">Descriptions</p>
            </div>
        </div>
        <div class="category-body">
            <div class="left-body">
                <div>
                    <p class="example-name">Default</p>
                    <button class="example-default"></button>
                </div>
                <div>
                    <p class="example-name">Hover</p>
                    <button class="example-hover"></button>
                </div>
                <div>
                    <p class="example-name">Pressed</p>
                    <button class="example-pressed"></button>
                </div>
                <div>
                    <p class="example-name">Disabled</p>
                    <button class="example-disabled"></button>
                </div>
                <div>
                    <p class="example-name">Text</p>
                    <div class="example-text">Button</div>
                </div>
            </div>
            <div class="right-body">
                <p>height: 40px <br> padding: 8px 16px <br> font-size: 14px <br> font-family: Roboto <br> font-weight: Regular</p>
            </div>
        </div>
        <div class="category-buttons">
            <div class="left">
                <p class="title">BUTTONS</p>
            </div>
        </div>
        <div class="btn-items">
            <div class="btn-item"><button class="btn btn-primary btn-sm">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-sm">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-sm">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-sm" disabled>BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-sm">BUTTON <i class="fa-solid fa-angle-right"></i></button></div>
            <div class="btn-item"><button class="btn btn-primary btn-sm"><i class="fa-solid fa-angle-right"></i></button></div>
            <p class="size-btn">Small</p>
        </div>
        <div class="btn-items">
            <div class="btn-item"><button class="btn btn-primary btn-md">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-md">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-md">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-md"disabled>BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-md">BUTTON <i class="fa-solid fa-angle-right"></i></button></div>
            <div class="btn-item"><button class="btn btn-primary btn-md"><i class="fa-solid fa-angle-right"></i></button></div>
            <p class="size-btn">Medium</p>
        </div>
        <div class="btn-items">
            <div class="btn-item"><button class="btn btn-primary btn-lg">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-lg">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-lg">BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-lg" disabled>BUTTON</button></div>
            <div class="btn-item"><button class="btn btn-primary btn-lg">BUTTON <i class="fa-solid fa-angle-right"></i></button></div>
            <div class="btn-item"><button class="btn btn-primary btn-lg"><i class="fa-solid fa-angle-right"></i></button></div>
            <p class="size-btn">Large</p>
        </div>
        <div class="color-category">
            <div class="title-box"><p class="title">COLOR & FONT</p></div>
            <div class="color">
                <div class="round-primary"></div>
                <p class="color-title-primary">#53389E Primary</p>
            </div>
            <div class="color">
                <div class="round-hover"></div>
                <p class="color-title-hover">#7F56D9 Hover</p>
            </div>
            <div class="color">
                <div class="round-pressed"></div>
                <p class="color-title-pressed">#1E3D42 Pressed</p>
            </div>
            <div class="color">
                <div class="round-disabled"></div>
                <p class="color-title-disabled">#356692 Disabled</p>
            </div>
            <div class="color">
                <div class="round-disabled-text"></div>
                <p class="color-title-disabled-text">#E2E2E2 Disabled Text Color</p>
            </div>
            <div class="color">
                <div class="round-default-text"></div>
                <p class="color-title-default-text">#FFFFFF Default Text Color</p>
            </div>
        </div>
    </div>
</body>
</html>