<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/css/prounity.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Kantumruy+Pro:wght@100;400;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Type Scale</h1>

      <div class="text-content">
        <div class="title-div">
          <p>Heading 1</p>
          <p class="font-family-p">
            Family: Roboto Weight: Light Size: 96px Letter Spacing: -1.5%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="heading-1">Heading 1</h1>
        </div>
      </div>

      <div class="text-content">
        <div class="title-div">
          <p>Heading 2</p>
          <p class="font-family-p">
            Family: Roboto Weight: Light Size: 60px Letter Spacing: -0.5%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="heading-2">Heading 2</h1>
        </div>
      </div>

      <div class="text-content">
        <div class="title-div">
          <p>Heading 3</p>
          <p class="font-family-p">
            Family: Roboto Weight: Regular Size: 48px Letter Spacing: 0%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="heading-3">Heading 3</h1>
        </div>
      </div>

      <div class="text-content">
        <div class="title-div">
          <p>Subtitle 1</p>
          <p class="font-family-p">
            Family: Roboto Weight: Light Size: 34px Letter Spacing: 0.25%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="subtitle-1">Subtitle 1</h1>
        </div>
      </div>

      <div class="text-content">
        <div class="title-div">
          <p>Subtitle 2</p>
          <p class="font-family-p">
            Family: Roboto Weight: Medium Size: 24px Letter Spacing: 0%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="subtitle-2">Subtitle 2</h1>
        </div>
      </div>
      <div class="text-content">
        <div class="title-div">
          <p>Body</p>
          <p class="font-family-p">
            Family: Roboto Weight: Medium Size: 24px Letter Spacing: 0%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="body">Body</h1>
        </div>
      </div>

      <div class="text-content">
        <div class="title-div">
          <p>Button</p>
          <p class="font-family-p">
            Family: Roboto Weight: Medium Size: 14px Letter Spacing: 1.25%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="body">Button</h1>
        </div>
      </div>

      <div class="text-content">
        <div class="title-div">
          <p>Caption</p>
          <p class="font-family-p">
            Family: Roboto Weight: Regular Size: 12px Letter Spacing: 0.4%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="caption">Caption</h1>
        </div>
      </div>

      <div class="text-content">
        <div class="title-div">
          <p>Overline</p>
          <p class="font-family-p">
            Family: Roboto Weight: Light Size: 12px Letter Spacing: 1.5%
          </p>
        </div>

        <div class="desc-div">
          <h1 class="overline">overline</h1>
        </div>
      </div>
    </div>
  </body>
</html>
