
# Django packages
Django==4.1.12
asgiref==3.7.2
django-appconf==1.0.5
django-cors-headers==4.3.0
django-staticfiles==1.2.1
djangorestframework==3.14.0

#JWT token
djangorestframework-simplejwt==5.3.0
PyJWT==2.8.0

# Django Image packages
Pillow==10.1.0

#Django ORM
sqlparse==0.2.4
tzdata==2023.3
