anyio==4.0.0
asgiref==3.7.2
astroid==2.15.8
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.3.0
colorama==0.4.6
constantly==15.1.0
cryptography==41.0.4
daphne==4.0.0
defusedxml==0.7.1
dill==0.3.7
dj-rest-auth==5.0.1
Django==4.1.12
django-allauth==0.55.2
django-appconf==1.0.5
django-cors-headers==4.3.0
django-ipware==5.0.1
django-setup==0.8.3
django-staticfiles==1.2.1
djangorestframework==3.14.0
djangorestframework-recaptcha==0.2.0
djangorestframework-simplejwt==5.3.0
djongo==1.3.6
dnspython==2.4.2
drf-recaptcha==3.0.0
drf-spectacular==0.26.5
eskiz-sms==0.2.3
flake8==6.1.0
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflection==0.5.1
isort==5.12.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
lazy-object-proxy==1.9.0
mccabe==0.7.0
mongoengine==0.27.0
oauthlib==3.2.2
Pillow==10.1.0
platformdirs==3.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
PyJWT==2.8.0
pylint==2.17.7
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pymongo==4.5.0
pyOpenSSL==23.2.0
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rpds-py==0.10.6
service-identity==23.1.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.2.4
tomlkit==0.12.1
Twisted==23.8.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.7
wrapt==1.15.0
zope.interface==6.1
