:host {
  display: inline;
}
.breadcrumb {
  display: inline;
  color: #585858;
  font-size: 1.2rem;
  text-decoration: none;
}
.breadcrumb:hover {
  color: #282828;
}
.breadcrumb.active {
  color: #02556d;
  font-weight: 500;
}
