:host {
  display: block;
  background-color: white;
  box-shadow: 1px 1px 3px 3px rgb(220, 219, 219);
  max-width: 100%;
  min-height: 300px;
  border-radius: 4px;
  padding: 16px;
}
.card-body{
  height: 50%;
}
.card-title{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
.card-subtitle{
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  color: grey;
}
.card-content{
  font-size: 16px;
  margin: 0;
}
.img-card{
  width: 100%;
}
.card-price{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-none{
  display: none;
}