.searchbar {
  height: 45px;
  width: 100%;
}

.body-searchbar{
  background-color: rgb(242, 242, 242);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-radius: 12px;
}

.body-searchbar .icon{
  font-size: 24px;
  color: rgb(172, 171, 171);
}

.body-searchbar input{
  height: 100%;
  width: 80%;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: rgb(242, 242, 242);
}
  
.body-searchbar{
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    border-radius: 12px;
}
  
  .body-searchbar .icon{
    font-size: 24px;
    color: rgb(172, 171, 171);
  }
  
  .body-searchbar input{
    height: 100%;
    width: 80%;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: rgb(235, 235, 235);

  }

.title {
  padding-top: 10px;
  padding-left: 20px;
}

.product{
    width: 150px;
    min-height: auto;
    border-radius: 15px;
}

.product-list-horizontal {
  display: flex;
  overflow-x: scroll;
  padding-left: 20px;
  padding-top: 12px;
}

.product-list-horizontal .product {
  min-width: 255px;
}

.product-list-horizontal img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.category-segment {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.all-price-list {
  display: flex;
  overflow-x: scroll;
  gap: 14px;
  padding-left: 20px;
  padding-top: 22px;
}

.all-price-list img {
  border-radius: 12px;
  width: 145px;
  height: 190px;
}

.banner-container {
  padding-left: 20px;
  padding-right: 20px;
}

.banner {
  position: relative;
  display: flex;
  margin: 50px auto;
  padding: 10px 14px;
  width: 375px;
  height: 125px;
  border-radius: 16px;
  background-color: white;
}

.banner button {
  height: 10px;
}

.banner img{
    position: absolute;
    height: 170px;
    right: 0;
    top: -35%;
}

.segment-active {
  --background: none 
  --border-style:none;
  --indicator-box-shadow:none;


}

.segment-active ion-segment-button {
  --indicator-box-shadow: transparent !important;
  --background:none;
  --color:gray;
  --background-checked: transparent !important;
  --border-style:none;
  --color-checked: rgba(36,77,25);
  --indicator-color: transparent !important;
  font-size: 18px;
  border-radius: .5rem !important;
  padding: 2px;
  height: 55px;
  margin: 0;
  }

.segment-indicator {
  background-color: transparent;
  height: 8px;
  width: 8px; 
  border-radius: 50%; 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.segment-active ion-segment-button.segment-button-checked .segment-indicator {
    background-color: rgba(36,77,25);
  }



